
img{
	border-radius: 20px;
	size: 300px;
	height: 300px;
	width: 300px;

}
body{
	background: white;
}
	
	div{
		background-color: grey;
		margin: 150px
		padding:30px;
		box-shadow: 10px 20px 30px grey;
	}

	h2{
		color: black;
		font-size: 40px
		background-color: green ;
		font-family: ALGERIAN

	h2{
		color:orange;
		font-size: 40px;
		background-color: green ;
		font-family: ALGERIAN;

	}	
	
}
